body {
  font-family: Georgia, sans-serif;
  background: black;
  color: white;
}

h1 {
  font-size: 3.5em;
}
div {
	width: 50%;
}
.box {
	background: blue;
	float: left;
	width: 20%;
	padding: 10;
}
.wizard{
	background: red;
	float: right;
	width: 75%;
}

a, a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}