body {
  font-family: Georgia, sans-serif;
  background: white;
  color: black;
}

h1 {
  font-size: 3.5em;
}
div {
	background: white;
	width: 50%;
}
.box {
	background: blue;
	float: left;
	width: 20%;
	padding: 10;
}
.wizard{
	background: red;
	float: right;
	width: 75%;
}